Here we create the first simple model without integer variables

In [212]:
import numpy as np
import pandas as pd
import cvxpy as cp
from typing import Tuple

def construct_equalities(
        supply_volumes: np.ndarray,
        supply_prices: np.ndarray,
        gen_matrix: np.ndarray
) -> Tuple[np.ndarray, np.ndarray]:
    """
    В этой функции мы формируем матрицу системы A_eq и вектор свободных членов b_eq для системы ограничений-равенств.

    :param supply_volumes: вектор объемов ступеней кривой предложения
    :param supply_prices: вектор цен ступеней кривой предложения
    :param gen_matrix: матрица с информацией по генераторам
    :return: кортеж с матрицей системы A_eq и вектором свободных членов b_eq
    """
    m, n = gen_matrix.shape[0], supply_volumes.shape[0]
    Q = np.tile(supply_volumes, (m, 1))
    # here we the last column of gen_matrix where prices are written
    gen_prices = gen_matrix[:, -1]
    """
    здесь мы формируем матрицу aplha_coeffs размерности m*n, значения в которой рассчитываются следующим образом:

    alpha_coeffs[i, j] = 0, если цена i-ого генератора меньше цены j-ой ступени кривой
    alpha_coeffs[i, j] = 1, если цена i-ого генератора больше или равна цене j-ой ступени кривой
    """
    alpha_coeffs = calculate_alpha_coeffs(gen_prices=gen_prices, supply_prices=supply_prices)

    D1 = (1 - alpha_coeffs) * Q
    D2 = alpha_coeffs * Q

    k, col_index = 2*m*n, 0
    A1, A2 = np.zeros((m, k)), np.zeros((m, k))
    A3 = np.zeros((2*m, 4*m))
    for gen_index in range(m):
        A1[gen_index, col_index:col_index+n] = D1[gen_index, :]
        A2[gen_index, col_index:col_index+n] = D2[gen_index, :]
        col_index += n
    b1 = gen_matrix[:, 0] - gen_matrix[:, 1]
    b2 = gen_matrix[:, 2] - gen_matrix[:, 0]
    A_eq = np.vstack((A1, A2))

    for gen_index in range(2*m):
        A3[gen_index, 2*gen_index:2*gen_index+2] = np.array([-1, 1])
    A_eq = np.hstack((A_eq, A3))
    b_eq = np.concatenate((b1, b2))
    return A_eq, b_eq

def construct_inequalities(
        supply_volumes: np.ndarray,
        supply_prices: np.ndarray,
        gen_matrix: np.ndarray
) -> Tuple[np.ndarray, np.ndarray]:

    m, n = gen_matrix.shape[0], supply_volumes.shape[0]

    k = 2*m*n
    A_ineq = np.vstack((
        np.hstack((np.eye(n*m), -1*np.eye(n*m))),
        np.hstack((-1*np.eye(n*m), np.eye(n*m)))
    ))
    b_ineq = np.concatenate((np.zeros(n*m), np.ones(n*m)))

    A1, A2, A3 = np.zeros((m, k)), np.zeros((m, k)), np.zeros((m, k))
    col_index = m*n
    beta_vector = np.zeros(n)
    beta_vector[supply_prices > 0] = 1
    for gen_index in range(m):
        A1[gen_index, col_index:col_index+n] = 1 - beta_vector
        A2[gen_index, col_index:col_index+n] = beta_vector
        A3[gen_index, col_index:col_index+n] = -1*np.ones(n)
        col_index += n
    A = np.vstack((A1, A2, A3))
    b = np.concatenate((np.ones(m), 2*np.ones(m),-1*np.ones(m)))
    A_ineq = np.vstack((A_ineq, A))
    b_ineq = np.concatenate((b_ineq, b))

    A_ineq = np.hstack((A_ineq, np.zeros((A_ineq.shape[0], 4*m))))

    # here we`re processing the case when sum of partial volumes that belong to generators exceeds the whole volume of this stage in the supply curve
    A = np.hstack((
        np.tile(np.eye(n), (1, m)), np.zeros((n, n*m)), np.zeros((n, 4*m))
    ))
    A_ineq = np.vstack((A_ineq, A))
    b_ineq = np.concatenate((b_ineq, np.ones(n)))
    # A_ineq = np.hstack((A_ineq, np.zeros((A_ineq.shape[0], 2*m))))
    #b_ineq = np.concatenate((b_ineq, b_1))
    return A_ineq, b_ineq

def parse_solution(
        supply_volumes: np.ndarray,
        supply_prices: np.ndarray,
        x_sol: np.ndarray,
        gen_names: np.ndarray
) -> pd.DataFrame:

    n, k = supply_prices.shape[0], x_sol.shape[0]
    m = k // (2*n)
    W, D = np.reshape(x_sol[:n*m], (m, n)), np.reshape(x_sol[n*m:], (m, n))
    V, P = np.tile(supply_volumes, (m, 1)), np.tile(supply_prices, (m, 1))
    W_v = W * V
    D_p = D * P
    B_v, B_p = np.zeros((m, 3)), np.zeros((m, 3))
    I = np.argsort(W_v, axis=1)
    for row_ind in range(m):
        B_v[row_ind, :] = np.flip(W_v[row_ind, I[row_ind, :]])[:3]
        B_p[row_ind, :] = np.flip(D_p[row_ind, I[row_ind, :]])[:3]
    result = pd.DataFrame(data=np.hstack((B_v, B_p)))
    result.columns = ['vol_1', 'vol_2', 'vol_3', 'price_1', 'price_2', 'price_3']
    result.insert(loc=0, column='gen_name', value=gen_names)
    return result

def calculate_alpha_coeffs(
        gen_prices: np.ndarray,
        supply_prices: np.ndarray
) -> np.ndarray:
    m, n = gen_prices.shape[0], supply_prices.shape[0]
    alpha_coeffs = np.zeros((m, n))
    for gen_index in range(m):
        alpha_coeffs[gen_index, supply_prices >= gen_prices[gen_index]] = 1
    return alpha_coeffs

In [213]:
def decompose_supply_curve(
        supply_volumes: np.ndarray,
        supply_prices: np.ndarray,
        gen_df: pd.DataFrame
) -> pd.DataFrame:
    gen_matrix = gen_df.to_numpy()[:, 1:]
    n, m = supply_volumes.shape[0], gen_matrix.shape[0]
    k = 2*n*m + 4*m
    int_indices = [(index, ) for index in range(n*m, 2*n*m)]
    x = cp.Variable((k,), integer=int_indices)
    lower_bounds = np.zeros(k)
    upper_bounds = np.concatenate((np.ones(2*m*n), 1e5*np.ones(4*m)))

    A_eq, b_eq = construct_equalities(
        supply_volumes=supply_volumes,
        supply_prices=supply_prices,
        gen_matrix=gen_matrix
    )
    A_ineq, b_ineq = construct_inequalities(
        supply_volumes=supply_volumes,
        supply_prices=supply_prices,
        gen_matrix=gen_matrix
    )

    # c = np.concatenate((
    #     np.tile(supply_volumes, m),
    #     np.zeros(n*m)
    # ))
    c = np.concatenate((np.ones(n*m), np.zeros(n*m), -1*np.ones(4*m)))

    # теперь нам нужно добавить в целевой функционал условие на полноту разбора кривой предложения (как можно больше ступеней кривой
    # предложения должны быть разобраны)
    problem = cp.Problem(
        cp.Maximize(c @ x),
        [
            A_eq @ x == b_eq,
            A_ineq @ x <= b_ineq,
            x >= lower_bounds,
            x <= upper_bounds
        ]
    )
    problem.solve(solver='GUROBI', verbose=True)
    gen_bids = parse_solution(
        supply_volumes=supply_volumes,
        supply_prices=supply_prices,
        x_sol=np.array(x.value[:-4*m]),
        gen_names=gen_df.loc[:, 'gen_name'].to_numpy()
    )
    return gen_bids

In [214]:
supply_prices = np.array([10, 20, 30, 40])
supply_volumes = np.array([100, 200, 300, 400])
gen_df = pd.DataFrame({
    'gen_name': np.array(['gen_1', 'gen_2']),
    'p_ats': np.array([100, 130]),
    'p_min': np.array([50, 28]),
    'p_max': np.array([200, 151]),
    'gen_price': np.array([25, 35])
})
gen_matrix = gen_df.to_numpy()[:, 1:]
A_eq, b_eq = construct_equalities(supply_volumes=supply_volumes, supply_prices=supply_prices, gen_matrix=gen_matrix)

gen_bids = decompose_supply_curve(
    supply_volumes=supply_volumes,
    supply_prices=supply_prices,
    gen_df=gen_df
)
gen_bids

===============================================================================
                                     CVXPY
                                    v1.1.15
===============================================================================
(CVXPY) May 05 04:20:58 PM: Your problem has 24 variables, 4 constraints, and 0 parameters.
(CVXPY) May 05 04:20:58 PM: It is compliant with the following grammars: DCP, DQCP
(CVXPY) May 05 04:20:58 PM: (If you need to solve this problem multiple times, but with different data, consider using parameters.)
(CVXPY) May 05 04:20:58 PM: CVXPY will first compile your problem; then, it will invoke a numerical solver to obtain a solution.
-------------------------------------------------------------------------------
                                  Compilation
-------------------------------------------------------------------------------
(CVXPY) May 05 04:20:58 PM: Compiling problem (target solver=GUROBI).
(CVXPY) May 05 04:20:58 PM: Reduction chain: FlipObjective -> CvxAttr2Constr -> Qp2SymbolicQp -> QpMatrixStuffing -> GUROBI
(CVXPY) May 05 04:20:58 PM: Applying reduction FlipObjective
(CVXPY) May 05 04:20:58 PM: Applying reduction CvxAttr2Constr
(CVXPY) May 05 04:20:58 PM: Applying reduction Qp2SymbolicQp
(CVXPY) May 05 04:20:58 PM: Applying reduction QpMatrixStuffing
(CVXPY) May 05 04:20:58 PM: Applying reduction GUROBI
(CVXPY) May 05 04:20:58 PM: Finished problem compilation (took 3.549e-02 seconds).
-------------------------------------------------------------------------------
                                Numerical solver
-------------------------------------------------------------------------------
(CVXPY) May 05 04:20:58 PM: Invoking solver GUROBI  to obtain a solution.
Parameter OutputFlag unchanged
   Value: 1  Min: 0  Max: 1  Default: 1
Changed value of parameter QCPDual to 1
   Prev: 0  Min: 0  Max: 1  Default: 0
Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (linux64)
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 78 rows, 24 columns and 120 nonzeros
Model fingerprint: 0x0c91f83a
Variable types: 16 continuous, 8 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 4e+02]
  Objective range  [1e+00, 1e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e+00, 1e+05]
Presolve removed 58 rows and 0 columns
Presolve time: 0.00s
Presolved: 20 rows, 24 columns, 56 nonzeros
Variable types: 16 continuous, 8 integer (8 binary)

Root relaxation: objective -1.645833e+00, 11 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0   -1.64583    0    2          -   -1.64583      -     -    0s
H    0     0                      50.6141667   -1.64583   103%     -    0s
H    0     0                      19.4066667   -1.64583   108%     -    0s
*    0     0               0      -1.3958333   -1.39583  0.00%     -    0s

Cutting planes:
  Implied bound: 1
  MIR: 3
  Flow cover: 2

Explored 1 nodes (22 simplex iterations) in 0.01 seconds
Thread count was 8 (of 8 available processors)

Solution count 3: -1.39583 19.4067 50.6142
No other solutions better than -1.39583

Optimal solution found (tolerance 1.00e-04)
Best objective -1.395833333333e+00, best bound -1.395833333333e+00, gap 0.0000%
-------------------------------------------------------------------------------
                                    Summary
-------------------------------------------------------------------------------
(CVXPY) May 05 04:20:58 PM: Problem status: optimal
(CVXPY) May 05 04:20:58 PM: Optimal value: 1.396e+00
(CVXPY) May 05 04:20:58 PM: Compilation took 3.549e-02 seconds
(CVXPY) May 05 04:20:58 PM: Solver (including time spent in interface) took 2.534e-02 seconds

  gen_name  vol_1  vol_2  vol_3  price_1  price_2  price_3
0    gen_1  100.0   50.0    0.0     30.0     10.0     -0.0
1    gen_2  102.0   21.0    0.0     20.0     40.0      0.0

In [215]:
from datetime import datetime, date, timedelta
from sqlalchemy import create_engine
from typing import Tuple

import numpy as np
import pandas as pd

def get_supply_curve(
        base_datetime: datetime,
        cz_id: int
) -> Tuple[np.ndarray, np.ndarray]:
    connection_string = "mssql+pyodbc://model1:model1@192.168.1.10/SKMRUSMSSQL?driver=ODBC+Driver+17+for+SQL+Server"
    sql_engine = create_engine(connection_string)
    query_supply = f"""
        select volume, price
        from exergydb.dbo.src_ats_curve_supply
        where datetime = '{base_datetime}' and cz_id = {cz_id}
    """
    supply_curve = pd.read_sql(sql=query_supply, con=sql_engine)
    supply_prices = supply_curve.loc[:, 'price'].to_numpy()
    supply_volumes = supply_curve.loc[:, 'volume'].to_numpy()
    return supply_prices, supply_volumes

def get_gen_data(
        base_datetime: datetime,
        cz_id: int
) -> pd.DataFrame:
    connection_string = "mssql+pyodbc://model1:model1@192.168.1.10/SKMRUSMSSQL?driver=ODBC+Driver+17+for+SQL+Server"
    sql_engine = create_engine(connection_string)
    base_date = base_datetime.date()
    base_hour = base_datetime.hour
    query_rge = f"""
        select d.gtp_code as gen_name, a.rge, a.p_ats, a.pmin as p_min, a.pmax as p_max, a.node_price_ats
        from model_rge a
        inner join (
            select b.gtp_code, b.station_code, b.rge, b.date, b.version, b.day_ahead_type from dict_gtprge_gen b
            inner join dict_registry_gen c on b.station_code = c.station_code
            where c.station_type in (1, 3, 4) and c.date = '{base_date}' and c.version = 0
            and b.date = '{base_date}' and b.version = 0 and b.day_ahead_type = 0
        ) d
        on a.rge = d.rge
        inner join dict_node_geo e on a.node = e.node
        where a.date = '{base_date}' and a.hour = {base_hour} and a.version = 0
        and e.date = '{base_date}' and e.version = 0 and e.cz_id = {cz_id}
    """
    rge_df = pd.read_sql(sql=query_rge, con=sql_engine)
    rge_df['p_price'] = rge_df.apply(lambda x: x['p_ats'] * x['node_price_ats'], axis=1)
    gen_df = rge_df.groupby(by='gen_name').sum().reset_index()
    gen_df = gen_df.loc[gen_df['p_ats'] >= 0.1, :]
    gen_df['gen_price'] = gen_df.apply(lambda x: x['p_price'] / x['p_ats'], axis=1)
    gen_df = gen_df.drop(columns=['rge', 'node_price_ats', 'p_price']).reset_index(drop=True)
    return gen_df

In [216]:
base_datetime = datetime(year=2022, month=4, day=29, hour=0)
cz_id = 1
supply_prices, supply_volumes = get_supply_curve(base_datetime=base_datetime, cz_id=cz_id)
gen_df = get_gen_data(
    base_datetime=base_datetime,
    cz_id=cz_id
)
gen_df

    gen_name       p_ats    p_min    p_max    gen_price
0   GALTEN11   40.000000   40.000   65.000  1038.789742
1   GALTEN14   40.000000   40.000   50.000  1038.789742
2   GALTENE2  175.001000  175.000  255.000  1039.948727
3   GALTKOKS  106.000000   95.000  140.000  1020.766873
4   GBEREZG2  760.000000  540.000  760.000  1004.182748
5   GBIENERG  220.000000  220.000  339.800  1034.111075
6   GBURYAT2   15.000000   15.000   26.400   933.430079
7   GBURYAT3   88.000000   88.000   98.370   933.430079
8   GBURYATE    3.600000    3.600   12.000   933.430079
9   GCHITEN1  181.000000  180.000  268.000   921.670543
10  GGG10537   85.000000   85.000  100.000  1014.626546
11  GGUSINO2  390.000000  390.000  610.000   919.803415
12  GHAKASEN  180.001000  180.000  210.000  1040.510132
13  GHARANG1  160.000000  160.000  215.000   846.238305
14  GHARANG2  140.000000  140.000  215.000   856.430677
15  GHARANG3  161.735911  125.000  235.000   855.999956
16  GIRKEN07   56.100000   55.000   70.000   883.480802
17  GIRKEN08  170.000000  150.000  230.000   928.553986
18  GIRKEN10  535.000000  535.000  710.000   906.919530
19  GIRKEN11   90.000000   90.000  129.300   925.131049
20  GIRKEN12  252.000000  250.000  285.000   919.435968
21  GIRKEN13  130.187222   80.000  180.000  1019.999985
22  GIRKEN14  116.000000  107.000  170.000   808.066695
23  GIRKEN25   19.100000   18.000   20.000   919.435968
24  GKRASGR1  164.000000  106.200  164.000   935.158648
25  GKRASGR2  136.000000  110.000  136.000   932.369766
26  GKRASNE1   91.700000   91.700  144.920   975.936900
27  GKRASNE2  221.611000  195.500  221.611   977.974139
28  GKRASNE4  174.900000  160.000  174.900   942.752977
29  GKRASNE5  220.000000  200.000  220.000   938.245529
30  GKRASNE6   89.900000   59.000   89.900  1043.209226
31  GKUZEN01  110.000000  110.000  126.000  1083.698475
32  GKUZEN02  114.001000  114.000  158.500  1061.138313
33  GKUZEN04  109.000000  109.000  170.000  1060.180216
34  GKUZEN05  160.000000  160.000  200.000  1064.491748
35  GKUZEN06  280.000000  280.000  400.000  1066.874304
36  GKUZEN07  200.000000  140.000  200.000  1043.742096
37  GKUZEN08  180.000000  140.000  180.000  1048.339064
38  GKUZEN09   13.800000   13.800   23.000  1064.503549
39  GKUZEN10   60.000000   52.000   60.000  1076.486056
40  GKUZEN23  151.000000  150.000  151.000  1044.987084
41  GNOVOS02  100.000000  100.000  140.000  1007.030531
42  GNOVOS03  125.000000   90.000  125.000  1007.069302
43  GNOVOS04  160.001000  160.000  185.000  1008.558204
44  GNOVOS05  160.000000  160.000  210.000  1010.124961
45  GNOVOS06  270.001000  270.000  350.000  1010.105052
46  GNOVOS07  270.001000  270.000  370.000  1003.264852
47  GNOVOS08   18.000000   18.000   25.000  1022.517903
48  GOMSKE11   60.000000   60.000  120.000  1014.532706
49  GOMSKE12   52.000000   52.000   60.000  1014.532706
50  GOMSKE16   35.000000   22.389   42.350  1014.532706
51  GOMSKE18  260.000000  260.000  275.000   994.667748
52  GOMSKEN2   38.000000   38.000   50.000  1014.626546
53  GPRIURGO  170.000000  160.000  205.000   785.569898
54  GSIBXI12   44.000000   44.000   88.784  1015.460427
55  GSIBXIM2   48.000000   48.000   50.000  1015.460427
56  GSIBXIM4   60.000000   60.000  100.000  1015.460427
57  GTOMSKE1  155.000000  155.000  183.000  1026.795570
58  GTOMSKE2  128.000000  128.000  140.000  1024.959956

In [217]:
# alpha_coeffs = calculate_alpha_coeffs(gen_prices=gen_df.to_numpy()[:, -1], supply_prices=supply_prices)
# 1 - alpha_coeffs

In [218]:
gen_bids = decompose_supply_curve(
    supply_volumes=supply_volumes,
    supply_prices=supply_prices,
    gen_df=gen_df
)
gen_bids

===============================================================================
                                     CVXPY
                                    v1.1.15
===============================================================================
(CVXPY) May 05 04:20:59 PM: Your problem has 8968 variables, 4 constraints, and 0 parameters.
(CVXPY) May 05 04:20:59 PM: It is compliant with the following grammars: DCP, DQCP
(CVXPY) May 05 04:20:59 PM: (If you need to solve this problem multiple times, but with different data, consider using parameters.)
(CVXPY) May 05 04:20:59 PM: CVXPY will first compile your problem; then, it will invoke a numerical solver to obtain a solution.
-------------------------------------------------------------------------------
                                  Compilation
-------------------------------------------------------------------------------
(CVXPY) May 05 04:20:59 PM: Compiling problem (target solver=GUROBI).
(CVXPY) May 05 04:20:59 PM: Reduction chain: FlipObjective -> CvxAttr2Constr -> Qp2SymbolicQp -> QpMatrixStuffing -> GUROBI
(CVXPY) May 05 04:20:59 PM: Applying reduction FlipObjective
(CVXPY) May 05 04:20:59 PM: Applying reduction CvxAttr2Constr
(CVXPY) May 05 04:20:59 PM: Applying reduction Qp2SymbolicQp
(CVXPY) May 05 04:20:59 PM: Applying reduction QpMatrixStuffing
(CVXPY) May 05 04:20:59 PM: Applying reduction GUROBI
(CVXPY) May 05 04:20:59 PM: Finished problem compilation (took 5.086e-01 seconds).
-------------------------------------------------------------------------------
                                Numerical solver
-------------------------------------------------------------------------------
(CVXPY) May 05 04:20:59 PM: Invoking solver GUROBI  to obtain a solution.
Parameter OutputFlag unchanged
   Value: 1  Min: 0  Max: 1  Default: 1
Changed value of parameter QCPDual to 1
   Prev: 0  Min: 0  Max: 1  Default: 0
Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (linux64)
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 27037 rows, 8968 columns and 53100 nonzeros
Model fingerprint: 0xba50fe42
Variable types: 4602 continuous, 4366 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e-03, 2e+04]
  Objective range  [1e+00, 1e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e-03, 1e+05]
Presolve removed 23601 rows and 2333 columns
Presolve time: 0.03s
Presolved: 3436 rows, 6635 columns, 15909 nonzeros
Variable types: 3408 continuous, 3227 integer (3227 binary)
Found heuristic solution: objective 2134.4215850

Root relaxation: objective -7.300050e+01, 1826 iterations, 0.05 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0  -73.00050    0   67 2134.42159  -73.00050   103%     -    0s
H    0     0                     155.1163827  -73.00050   147%     -    0s
H    0     0                     152.1193827  -73.00050   148%     -    0s
H    0     0                     143.3732677  -73.00050   151%     -    0s
H    0     0                      71.7346458  -73.00050   202%     -    0s
     0     0  -73.00050    0  119   71.73465  -73.00050   202%     -    0s
H    0     0                     -15.6063734  -73.00050   368%     -    0s
H    0     0                     -39.0969441  -73.00050  86.7%     -    0s
     0     0  -73.00050    0  127  -39.09694  -73.00050  86.7%     -    0s
H    0     0                     -49.9440745  -73.00050  46.2%     -    1s
H    0     0                     -53.5062012  -73.00050  36.4%     -    1s
H    0     0                     -55.6676092  -73.00050  31.1%     -    1s
     0     0  -73.00050    0   55  -55.66761  -73.00050  31.1%     -    1s
H    0     0                     -59.1459732  -73.00050  23.4%     -    1s
     0     0  -73.00050    0   75  -59.14597  -73.00050  23.4%     -    1s
H    0     0                     -63.0236341  -73.00050  15.8%     -    2s
H    0     0                     -63.4002727  -73.00050  15.1%     -    2s
     0     0  -73.00050    0   52  -63.40027  -73.00050  15.1%     -    2s
     0     0  -73.00050    0   52  -63.40027  -73.00050  15.1%     -    2s
     0     2  -73.00050    0   50  -63.40027  -73.00050  15.1%     -    2s
H   31    40                     -64.0350280  -73.00050  14.0%   264    5s
H   31    40                     -71.3918192  -73.00050  2.25%   264    5s
H   38    40                     -71.3967948  -73.00050  2.25%   219    5s
H  622   971                     -71.6201874  -73.00050  1.93%   102    7s
H  856   971                     -71.6616356  -73.00050  1.87%  93.3    7s
H  913   971                     -71.6761122  -73.00050  1.85%  95.7    7s
  1881  2397  -71.95372  231   38  -71.67611  -73.00050  1.85%  83.7   10s
H 1975  2316                     -72.3041362  -73.00050  0.96%  82.8   10s
H 5258  4078                     -72.3933962  -73.00050  0.84%  64.9   14s
H 5333  4077                     -72.3940064  -73.00050  0.84%  64.9   15s
H 5336  3869                     -72.3951314  -73.00050  0.84%  64.9   17s
H 5337  3676                     -72.4669261  -73.00050  0.74%  64.9   17s
H 5338  3493                     -72.4788393  -73.00050  0.72%  64.8   18s
H 5342  3320                     -72.4815007  -73.00050  0.72%  64.8   19s
  5345  3322  -72.78834  415   47  -72.48150  -73.00050  0.72%  64.8   20s
H 5351  3162                     -72.5033721  -73.00050  0.69%  85.5   22s
H 5353  3005                     -72.5045053  -73.00050  0.68%  85.8   24s
  5354  3008  -73.00050   12   91  -72.50451  -73.00050  0.68%  86.3   25s
H 5422  2909                     -72.5189270  -73.00050  0.66%  88.8   30s
H 5424  2765                     -72.5303121  -73.00050  0.65%  89.0   30s
H 5429  2627                     -72.5388735  -73.00050  0.64%  89.2   30s
H 5430  2498                     -72.6951888  -73.00050  0.42%  89.2   30s
  5737  3909  -73.00050   34   62  -72.69519  -73.00050  0.42%   102   38s
H 5907  3730                     -72.7033759  -73.00050  0.41%   106   38s
  6973  4240  -73.00050  120   49  -72.70338  -73.00050  0.41%   127   40s
H 7003  4038                     -72.8105623  -73.00050  0.26%   128   40s
H 8960  4196                     -72.8115623  -73.00050  0.26%   133   44s
H 8961  4080                     -72.8180259  -73.00050  0.25%   133   44s
H 8961  3949                     -72.8648914  -73.00050  0.19%   133   44s
  9074  4714  -72.91194  177   59  -72.86489  -73.00050  0.19%   133   46s
 11827  6553  -72.90253   83   87  -72.86489  -73.00050  0.19%   150   50s
H13490  6328                     -72.9159316  -73.00050  0.12%   155   56s
H13495  6273                     -72.9290432  -73.00050  0.10%   155   56s
H13552  6770                     -72.9300432  -73.00050  0.10%   155   57s
H13581  6770                     -72.9301681  -73.00050  0.10%   155   57s
 15514  9317  -73.00000   99   85  -72.93017  -73.00050  0.10%   151   63s
H16602  9300                     -72.9335582  -73.00050  0.09%   150   63s
 17093 10581  -72.99814  132   80  -72.93356  -73.00050  0.09%   150   65s
 22026 14195  -72.94022  192   75  -72.93356  -73.00050  0.09%   142   71s
H22662 13985                     -72.9344441  -73.00050  0.09%   145   71s
 24131 15750  -73.00050   56   90  -72.93444  -73.00050  0.09%   147   76s
 26716 18219  -73.00044   74   77  -72.93444  -73.00050  0.09%   148   80s
H28191 18441                     -72.9345108  -73.00050  0.09%   148   82s
 29926 21262  -72.94946  158   64  -72.93451  -73.00050  0.09%   146   86s
 31602 23103  -72.94212  244   48  -72.93451  -73.00050  0.09%   144  108s
 33790 23411  -73.00050   64   83  -72.93451  -73.00050  0.09%   144  110s
H35627 21409                     -72.9504041  -73.00050  0.07%   142  117s
H35630 21062                     -72.9548505  -73.00050  0.06%   142  117s
H35631 20825                     -72.9581383  -73.00050  0.06%   142  117s
 36590 22332  -72.97549  104   88  -72.95814  -73.00050  0.06%   143  120s
H37830 22328                     -72.9598049  -73.00050  0.06%   145  121s
 39126 23516  -72.99471  109   85  -72.95980  -73.00050  0.06%   147  125s
H39128 23289                     -72.9606799  -73.00050  0.05%   147  125s
H39254 23144                     -72.9607383  -73.00050  0.05%   147  125s
 42150 25939  -72.99774   93   71  -72.96074  -73.00050  0.05%   150  130s
 45062 28574  -72.99008  233   47  -72.96074  -73.00050  0.05%   149  136s
 48296 30612  -72.99714  129   88  -72.96074  -73.00050  0.05%   149  140s
 50230 31882  -73.00050  116   77  -72.96074  -73.00050  0.05%   151  145s
H50460 31843                     -72.9608049  -73.00050  0.05%   151  145s
 52122 33638  -72.99662  115   81  -72.96080  -73.00050  0.05%   153  150s
 54766 35185  -72.99906  105   69  -72.96080  -73.00050  0.05%   156  155s
H55028 35091                     -72.9610883  -73.00050  0.05%   156  155s
H56666 35979                     -72.9620883  -73.00050  0.05%   158  161s
 58823 38381  -72.97657  209   59  -72.96209  -73.00050  0.05%   159  166s
 61475 39804  -72.98046  122   73  -72.96209  -73.00050  0.05%   160  171s
H61862 39787                     -72.9621549  -73.00050  0.05%   159  171s
 62315 41059  -72.96241  325   35  -72.96215  -73.00050  0.05%   160  175s
H65844 38009                     -72.9696818  -73.00050  0.04%   160  184s
H65846 35382                     -72.9753890  -73.00050  0.03%   160  184s
H65848 32533                     -72.9819203  -73.00050  0.03%   160  184s
 65856 33489  -73.00050   73   65  -72.98192  -73.00050  0.03%   160  187s
 67620 34694  -73.00050   75   81  -72.98192  -73.00050  0.03%   162  192s
 68821 35421  -72.98557  123   70  -72.98192  -73.00050  0.03%   164  195s
 71379 37215     cutoff   96       -72.98192  -73.00050  0.03%   165  200s
 73798 39155  -72.99796  148   75  -72.98192  -73.00050  0.03%   167  206s
 75615 40700  -72.99849  131   69  -72.98192  -73.00050  0.03%   167  211s
 79175 42961  -72.99178  308   54  -72.98192  -73.00050  0.03%   167  216s
H80194 43294                     -72.9823303  -73.00050  0.02%   167  218s
H80227 43178                     -72.9824846  -73.00050  0.02%   167  218s
H80262 40536                     -72.9867349  -73.00050  0.02%   167  218s
 81045 40446     cutoff  166       -72.98673  -73.00050  0.02%   167  221s
 82057 41892  -73.00050  103   71  -72.98673  -73.00050  0.02%   168  225s
 85287 43615  -72.99836  107   97  -72.98673  -73.00050  0.02%   171  232s
 86905 45121  -72.99805   77  103  -72.98673  -73.00050  0.02%   171  236s
 88649 46678     cutoff  164       -72.98673  -73.00050  0.02%   172  241s
 90989 48465  -73.00026  115   68  -72.98673  -73.00050  0.02%   173  246s
H93784 48842                     -72.9877349  -73.00050  0.02%   174  252s
 95834 50562  -73.00050   87   78  -72.98773  -73.00050  0.02%   175  257s
 96742 51728  -73.00002  119   70  -72.98773  -73.00050  0.02%   174  260s
 99742 52802  -73.00050  109   82  -72.98773  -73.00050  0.02%   175  270s
H99766 46153                     -72.9922527  -73.00050  0.01%   175  270s
H99771 43797                     -72.9933955  -73.00050  0.01%   175  270s

Cutting planes:
  Gomory: 10
  Cover: 15
  MIR: 68
  Flow cover: 130
  Relax-and-lift: 2

Explored 99865 nodes (17514512 simplex iterations) in 270.70 seconds
Thread count was 8 (of 8 available processors)

Solution count 10: -72.9934 -72.9923 -72.9877 ... -72.9622

Optimal solution found (tolerance 1.00e-04)
Best objective -7.299339553809e+01, best bound -7.300050018475e+01, gap 0.0097%
-------------------------------------------------------------------------------
                                    Summary
-------------------------------------------------------------------------------
(CVXPY) May 05 04:25:30 PM: Problem status: optimal
(CVXPY) May 05 04:25:30 PM: Optimal value: 7.299e+01
(CVXPY) May 05 04:25:30 PM: Compilation took 5.086e-01 seconds
(CVXPY) May 05 04:25:30 PM: Solver (including time spent in interface) took 2.708e+02 seconds

    gen_name       vol_1       vol_2         vol_3  price_1  price_2  price_3
0   GALTEN11   23.631000    1.369000  0.000000e+00   1040.0   1100.0     -0.0
1   GALTEN14    7.000000    3.000000  0.000000e+00   1662.0   1440.0      0.0
2   GALTENE2   53.900000   26.099000  1.000000e-03   1214.0   1075.0      0.0
3   GALTKOKS   34.000000   10.880419  1.195808e-01   7567.0    917.0      0.0
4   GBEREZG2  110.000000  110.000000  0.000000e+00    499.0    856.0      0.0
5   GBIENERG   66.800000   53.000000  0.000000e+00   1173.0   1750.0     -0.0
6   GBURYAT2    9.300000    2.100000  0.000000e+00   1440.0   1217.0     -0.0
7   GBURYAT3    6.335778    4.034222  0.000000e+00   1236.0   2420.0      0.0
8   GBURYATE    8.000000    0.400000  0.000000e+00   1749.0   1236.0     -0.0
9   GCHITEN1   87.000000    1.000000  0.000000e+00   1029.0    910.0     -0.0
10  GGG10537   15.000000    0.000000  0.000000e+00   1198.0     -0.0     -0.0
11  GGUSINO2  113.900000  106.100000  0.000000e+00   1020.0   1214.0      0.0
12  GHAKASEN   16.901000   13.098000  1.000000e-03   1075.0   1371.0      0.0
13  GHARANG1   44.119581   10.880419  0.000000e+00    917.0    914.0     -0.0
14  GHARANG2   44.648000   30.352000  0.000000e+00    964.0   1371.0      0.0
15  GHARANG3   73.264089   36.735911  0.000000e+00    915.0    499.0     -0.0
16  GIRKEN07   13.900000    1.100000  0.000000e+00   1371.0    530.0     -0.0
17  GIRKEN08   60.000000   20.018581  0.000000e+00   2262.0    914.0     -0.0
18  GIRKEN10   99.852778   75.147222  0.000000e+00   1137.0   1070.0     -0.0
19  GIRKEN11   29.999000    9.301000  0.000000e+00   1052.0    950.0     -0.0
20  GIRKEN12   33.000000    1.999000  1.000000e-03   1050.0      0.0    480.0
21  GIRKEN13   50.199988   49.812778  0.000000e+00    792.0   1100.0     -0.0
22  GIRKEN14   54.000000    9.000000  0.000000e+00    896.0    725.0     -0.0
23  GIRKEN25    1.000000    0.900000  1.000000e-01    820.0   1051.0      0.0
24  GKRASGR1   50.801000    6.999000  0.000000e+00    499.0    896.0      0.0
25  GKRASGR2   22.463089    1.801000  1.735911e+00    499.0      0.0    915.0
26  GKRASNE1   43.001000   10.219000  0.000000e+00   1060.0   1040.0     -0.0
27  GKRASNE2   25.999000    0.111000  1.000000e-03    829.0      0.0    676.0
28  GKRASNE4   12.611000    2.288000  1.000000e-03    400.0      0.0    527.0
29  GKRASNE5   12.099000    5.598000  2.303000e+00    880.0    809.0      0.0
30  GKRASNE6   19.999000   10.901000  0.000000e+00    793.0    880.0     -0.0
31  GKUZEN01   11.965778    4.034222  0.000000e+00   2420.0   1100.0      0.0
32  GKUZEN02   44.499000    0.001000  4.774840e-15   1217.0    618.0      0.0
33  GKUZEN04   57.350000    3.650000  0.000000e+00   1205.0   1371.0     -0.0
34  GKUZEN05   27.300000   12.700000  0.000000e+00   1250.0   1070.0     -0.0
35  GKUZEN06   66.999000   53.001000  4.558321e-11   1153.0   1173.0      0.0
36  GKUZEN07   51.621000    7.600012  7.789883e-01   1000.0    792.0      0.0
37  GKUZEN08   39.999000    0.001000  0.000000e+00    871.0    578.0      0.0
38  GKUZEN09    8.047222    1.152778  0.000000e+00   1080.0   1070.0     -0.0
39  GKUZEN10    8.000000    0.001000  0.000000e+00   1063.0    690.0      0.0
40  GKUZEN23    0.899000    0.100000  1.000000e-03      0.0    515.0    587.0
41  GNOVOS02   34.952778    5.047222  0.000000e+00   1080.0   1236.0     -0.0
42  GNOVOS03   25.699000    9.301000  0.000000e+00    950.0    809.0      0.0
43  GNOVOS04   15.000000    9.999000  1.000000e-03   1263.0   1060.0      0.0
44  GNOVOS05   44.499000    5.501000  0.000000e+00   1461.0   1440.0      0.0
45  GNOVOS06   79.999000    0.001000  0.000000e+00   1519.0    439.0     -0.0
46  GNOVOS07   99.999000    0.001000  0.000000e+00   1440.0    448.0     -0.0
47  GNOVOS08    7.000000    0.001000  0.000000e+00   1750.0    227.0     -0.0
48  GOMSKE11   40.000000   20.000000  0.000000e+00   1546.0   1721.0     -0.0
49  GOMSKE12    6.150000    1.850000  0.000000e+00   1040.0   1370.0     -0.0
50  GOMSKE16   11.632000    7.350000  9.790000e-01    964.0   1370.0      0.0
51  GOMSKE18   13.401000    1.599000  0.000000e+00   1217.0   1000.0     -0.0
52  GOMSKEN2   12.000000    0.001000  0.000000e+00   1250.0    403.0     -0.0
53  GPRIURGO   35.000000   10.000000  0.000000e+00    999.0    510.0     -0.0
54  GSIBXI12   40.000000    4.784000  0.000000e+00   1324.0   1100.0     -0.0
55  GSIBXIM2    2.000000    0.001000  0.000000e+00   1440.0    338.0     -0.0
56  GSIBXIM4   26.784000   13.216000  0.000000e+00   2262.0   1236.0     -0.0
57  GTOMSKE1   15.000000   13.000000  0.000000e+00   1721.0   1153.0     -0.0
58  GTOMSKE2   12.000000    0.001000  0.000000e+00   1265.0    292.0     -0.0

In [219]:
model_curve = gen_bids.melt(id_vars=['gen_name', 'vol_1', 'vol_2', 'vol_3'], var_name='price_name', value_name='price')
model_curve

     gen_name    vol_1       vol_2     vol_3 price_name   price
0    GALTEN11   23.631    1.369000  0.000000    price_1  1040.0
1    GALTEN14    7.000    3.000000  0.000000    price_1  1662.0
2    GALTENE2   53.900   26.099000  0.001000    price_1  1214.0
3    GALTKOKS   34.000   10.880419  0.119581    price_1  7567.0
4    GBEREZG2  110.000  110.000000  0.000000    price_1   499.0
..        ...      ...         ...       ...        ...     ...
172  GSIBXI12   40.000    4.784000  0.000000    price_3    -0.0
173  GSIBXIM2    2.000    0.001000  0.000000    price_3    -0.0
174  GSIBXIM4   26.784   13.216000  0.000000    price_3    -0.0
175  GTOMSKE1   15.000   13.000000  0.000000    price_3    -0.0
176  GTOMSKE2   12.000    0.001000  0.000000    price_3    -0.0

[177 rows x 6 columns]

In [220]:
def define_volume(x):
    result = 0
    if x['price_name'] == 'price_1':
        result = x['vol_1']
    elif x['price_name'] == 'price_2':
        result = x['vol_2']
    else:
        result = x['vol_3']
    return result

In [221]:
model_curve['volume'] = model_curve.apply(define_volume, axis=1)
model_curve

     gen_name    vol_1       vol_2     vol_3 price_name   price   volume
0    GALTEN11   23.631    1.369000  0.000000    price_1  1040.0   23.631
1    GALTEN14    7.000    3.000000  0.000000    price_1  1662.0    7.000
2    GALTENE2   53.900   26.099000  0.001000    price_1  1214.0   53.900
3    GALTKOKS   34.000   10.880419  0.119581    price_1  7567.0   34.000
4    GBEREZG2  110.000  110.000000  0.000000    price_1   499.0  110.000
..        ...      ...         ...       ...        ...     ...      ...
172  GSIBXI12   40.000    4.784000  0.000000    price_3    -0.0    0.000
173  GSIBXIM2    2.000    0.001000  0.000000    price_3    -0.0    0.000
174  GSIBXIM4   26.784   13.216000  0.000000    price_3    -0.0    0.000
175  GTOMSKE1   15.000   13.000000  0.000000    price_3    -0.0    0.000
176  GTOMSKE2   12.000    0.001000  0.000000    price_3    -0.0    0.000

[177 rows x 7 columns]

In [222]:
model_curve = model_curve.loc[:, ['gen_name', 'price', 'volume']].groupby(by=['gen_name', 'price']).sum().reset_index()
model_curve

     gen_name   price  volume
0    GALTEN11     0.0   0.000
1    GALTEN11  1040.0  23.631
2    GALTEN11  1100.0   1.369
3    GALTEN14     0.0   0.000
4    GALTEN14  1440.0   3.000
..        ...     ...     ...
171  GTOMSKE1  1153.0  13.000
172  GTOMSKE1  1721.0  15.000
173  GTOMSKE2     0.0   0.000
174  GTOMSKE2   292.0   0.001
175  GTOMSKE2  1265.0  12.000

[176 rows x 3 columns]

In [223]:
model_curve = model_curve.loc[:, ['price', 'volume']].groupby(by='price').sum().reset_index()
model_curve

     price     volume
0      0.0  11.381569
1    227.0   0.001000
2    292.0   0.001000
3    338.0   0.001000
4    400.0  12.611000
..     ...        ...
69  1749.0   8.000000
70  1750.0  60.000000
71  2262.0  86.784000
72  2420.0  16.000000
73  7567.0  34.000000

[74 rows x 2 columns]

In [224]:
real_curve = pd.DataFrame({'price': supply_prices, 'volume': supply_volumes})
real_curve

     price     volume
0      0.0  21991.874
1    227.0      0.001
2    292.0      0.001
3    338.0      0.001
4    400.0     12.611
..     ...        ...
69  1749.0      8.000
70  1750.0     60.000
71  2262.0     86.784
72  2420.0     16.000
73  7567.0     34.000

[74 rows x 2 columns]

In [225]:
diff = pd.merge(left=real_curve, right=model_curve, on='price', how='left', suffixes=('_real', '_model')).fillna(value=0)
diff

     price  volume_real  volume_model
0      0.0    21991.874     11.381569
1    227.0        0.001      0.001000
2    292.0        0.001      0.001000
3    338.0        0.001      0.001000
4    400.0       12.611     12.611000
..     ...          ...           ...
69  1749.0        8.000      8.000000
70  1750.0       60.000     60.000000
71  2262.0       86.784     86.784000
72  2420.0       16.000     16.000000
73  7567.0       34.000     34.000000

[74 rows x 3 columns]

In [226]:
diff['diff'] = diff.apply(lambda x: x['volume_real'] - x['volume_model'], axis=1)
diff

     price  volume_real  volume_model          diff
0      0.0    21991.874     11.381569  2.198049e+04
1    227.0        0.001      0.001000  0.000000e+00
2    292.0        0.001      0.001000  0.000000e+00
3    338.0        0.001      0.001000  0.000000e+00
4    400.0       12.611     12.611000  1.776357e-15
..     ...          ...           ...           ...
69  1749.0        8.000      8.000000  0.000000e+00
70  1750.0       60.000     60.000000  0.000000e+00
71  2262.0       86.784     86.784000  0.000000e+00
72  2420.0       16.000     16.000000  0.000000e+00
73  7567.0       34.000     34.000000  0.000000e+00

[74 rows x 4 columns]

In [227]:
agg_diff = diff.loc[diff['price'] > 0.0, 'diff'].sum()
agg_diff

0.34522238500000313

In [228]:
#gen_bids.to_csv('demo_bids.csv')

In [229]:
#diff.to_csv('bids_diff.csv')