Here we create the first simple model without integer variables

In [32]:
import numpy as np
import pandas as pd
import cvxpy as cp
from typing import Tuple

def construct_equalities(
        supply_volumes: np.ndarray,
        supply_prices: np.ndarray,
        gen_matrix: np.ndarray
) -> Tuple[np.ndarray, np.ndarray]:
    """
    В этой функции мы формируем матрицу системы A_eq и вектор свободных членов b_eq для системы ограничений-равенств.

    :param supply_volumes: вектор объемов ступеней кривой предложения
    :param supply_prices: вектор цен ступеней кривой предложения
    :param gen_matrix: матрица с информацией по генераторам
    :return: кортеж с матрицей системы A_eq и вектором свободных членов b_eq
    """
    m, n = gen_matrix.shape[0], supply_volumes.shape[0]
    Q = np.tile(supply_volumes, (m, 1))
    # here we the last column of gen_matrix where prices are written
    gen_prices = gen_matrix[:, -1]
    """
    здесь мы формируем матрицу aplha_coeffs размерности m*n, значения в которой рассчитываются следующим образом:

    alpha_coeffs[i, j] = 0, если цена i-ого генератора меньше цены j-ой ступени кривой
    alpha_coeffs[i, j] = 1, если цена i-ого генератора больше или равна цене j-ой ступени кривой
    """
    alpha_coeffs = calculate_alpha_coeffs(gen_prices=gen_prices, supply_prices=supply_prices)

    D1 = (1 - alpha_coeffs) * Q
    D2 = alpha_coeffs * Q

    k, col_index = 2*m*n, 0
    A1, A2, A4 = np.zeros((m, k)), np.zeros((m, k)), np.zeros((m, k))
    A3 = np.zeros((2*m, 4*m))

    b1, b2, b3 = np.zeros(m), np.zeros(m), np.zeros(m)

    marginal_gens = np.zeros(gen_prices.shape[0])
    for gen_index in range(gen_prices.shape[0]):
        if supply_prices[np.abs(supply_prices - gen_prices[gen_index]) <= 0.01].size:
            marginal_gens[gen_index] = 1

    for gen_index in range(m):
        supply_index = np.argwhere(supply_prices == gen_prices[gen_index])

        if not marginal_gens[gen_index]:
            A1[gen_index, col_index:col_index+n] = D1[gen_index, :]
            A2[gen_index, col_index:col_index+n] = D2[gen_index, :]

            b1[gen_index] = gen_matrix[gen_index, 0] - gen_matrix[gen_index, 1]
            b2[gen_index] =  gen_matrix[gen_index, 2] - gen_matrix[gen_index, 0]
        else:
            A1[gen_index, col_index+supply_index] = supply_volumes[supply_index]
            b1[gen_index] = gen_matrix[gen_index, 2] - gen_matrix[gen_index, 1]

        col_index += n

    #b4 = marginal_gens * (gen_matrix[:, 2] - gen_matrix[:, 1])
    A_eq = np.vstack((A1, A2))

    for gen_index in range(2*m):
        if gen_index < m:
            A3[gen_index, 2*gen_index:2*gen_index+2] = np.array([-b1[gen_index], b1[gen_index]])
        else:
            A3[gen_index, 2*gen_index:2*gen_index+2] = np.array([-b2[gen_index-m], b2[gen_index-m]])

    A_eq = np.hstack((A_eq, A3))
    b_eq = np.concatenate((b1, b2))

    return A_eq, b_eq

def construct_inequalities(
        supply_volumes: np.ndarray,
        supply_prices: np.ndarray,
        gen_matrix: np.ndarray
) -> Tuple[np.ndarray, np.ndarray]:

    m, n = gen_matrix.shape[0], supply_volumes.shape[0]

    k = 2*m*n
    A_ineq = np.vstack((
        np.hstack((np.eye(n*m), -1*np.eye(n*m))),
        np.hstack((-1*np.eye(n*m), np.eye(n*m)))
    ))
    eps = 1e-5
    b_ineq = np.concatenate((np.zeros(n*m), np.ones(n*m) - eps))

    A1, A2, A3 = np.zeros((m, k)), np.zeros((m, k)), np.zeros((m, k))
    col_index = m*n
    beta_vector = np.zeros(n)
    beta_vector[supply_prices > 0] = 1
    for gen_index in range(m):
        A1[gen_index, col_index:col_index+n] = 1 - beta_vector
        A2[gen_index, col_index:col_index+n] = beta_vector
        A3[gen_index, col_index:col_index+n] = -1*np.ones(n)
        col_index += n
    A = np.vstack((A1, A2, A3))
    b = np.concatenate((np.ones(m), 2*np.ones(m),-1*np.ones(m)))
    A_ineq = np.vstack((A_ineq, A))
    b_ineq = np.concatenate((b_ineq, b))

    A_ineq = np.hstack((A_ineq, np.zeros((A_ineq.shape[0], 4*m))))

    # here we`re processing the case when sum of partial volumes that belong to generators exceeds the whole volume of this stage in the supply curve
    A = np.hstack((
        np.tile(np.eye(n), (1, m)), np.zeros((n, n*m)), np.zeros((n, 4*m))
    ))
    A_ineq = np.vstack((A_ineq, A))
    b_ineq = np.concatenate((b_ineq, np.ones(n)))

    # here we construct inequalities to support maximizing the number of supply curve steps that are used by generators
    A = np.hstack((
        np.zeros((n, n*m)), np.tile(-1*np.eye(n), (1, m)),  np.zeros((n, 4*m))
    ))
    A_ineq = np.vstack((A_ineq, A))
    b_ineq = np.concatenate((b_ineq, -1*np.ones(n)))
    # A_ineq = np.hstack((A_ineq, np.zeros((A_ineq.shape[0], 2*m))))
    #b_ineq = np.concatenate((b_ineq, b_1))
    return A_ineq, b_ineq

def parse_solution(
        supply_volumes: np.ndarray,
        supply_prices: np.ndarray,
        x_sol: np.ndarray,
        gen_names: np.ndarray
) -> pd.DataFrame:

    n, k = supply_prices.shape[0], x_sol.shape[0]
    m = k // (2*n)
    W, D = np.reshape(x_sol[:n*m], (m, n)), np.reshape(x_sol[n*m:], (m, n))
    V, P = np.tile(supply_volumes, (m, 1)), np.tile(supply_prices, (m, 1))
    W_v = W * V
    D_p = D * P
    B_v, B_p = np.zeros((m, 3)), np.zeros((m, 3))
    I = np.argsort(W_v, axis=1)
    for row_ind in range(m):
        B_v[row_ind, :] = np.flip(W_v[row_ind, I[row_ind, :]])[:3]
        B_p[row_ind, :] = np.flip(D_p[row_ind, I[row_ind, :]])[:3]
    result = pd.DataFrame(data=np.hstack((B_v, B_p)))
    result.columns = ['vol_1', 'vol_2', 'vol_3', 'price_1', 'price_2', 'price_3']
    result.insert(loc=0, column='gen_name', value=gen_names)
    return result

def calculate_alpha_coeffs(
        gen_prices: np.ndarray,
        supply_prices: np.ndarray
) -> np.ndarray:
    m, n = gen_prices.shape[0], supply_prices.shape[0]
    alpha_coeffs = np.zeros((m, n))
    for gen_index in range(m):
        alpha_coeffs[gen_index, supply_prices >= gen_prices[gen_index]] = 1
    return alpha_coeffs

In [33]:
def decompose_supply_curve(
        supply_volumes: np.ndarray,
        supply_prices: np.ndarray,
        gen_df: pd.DataFrame
) -> pd.DataFrame:
    gen_matrix = gen_df.to_numpy()[:, 1:]
    n, m = supply_volumes.shape[0], gen_matrix.shape[0]
    k = 2*n*m + 4*m
    int_indices = [(index, ) for index in range(n*m, 2*n*m)]
    x = cp.Variable((k,), integer=int_indices)
    lower_bounds = np.zeros(k)
    upper_bounds = np.concatenate((np.ones(2*m*n), np.ones(4*m)))

    A_eq, b_eq = construct_equalities(
        supply_volumes=supply_volumes,
        supply_prices=supply_prices,
        gen_matrix=gen_matrix
    )
    A_ineq, b_ineq = construct_inequalities(
        supply_volumes=supply_volumes,
        supply_prices=supply_prices,
        gen_matrix=gen_matrix
    )

    # c = np.concatenate((
    #     np.tile(supply_volumes, m),
    #     np.zeros(n*m)
    # ))
    #c = np.concatenate((np.zeros(n*m), np.tile(np.append(1e2*np.ones(1), np.ones(n-1)), (1, m)).flatten(), np.ones(4*m)))
    c = np.concatenate((np.ones(n*m), -1*np.ones(n*m), np.ones(4*m)))
    #c = np.concatenate((np.ones(n*m), np.zeros(n*m), -1*np.ones(4*m)))
    # теперь нам нужно добавить в целевой функционал условие на полноту разбора кривой предложения (как можно больше ступеней кривой
    # предложения должны быть разобраны)
    problem = cp.Problem(
        cp.Maximize(c @ x),
        [
            A_eq @ x == b_eq,
            A_ineq @ x <= b_ineq,
            x >= lower_bounds,
            x <= upper_bounds
        ]
    )
    problem.solve(solver='GUROBI', verbose=True, mipgap=1e-3)
    gen_bids = parse_solution(
        supply_volumes=supply_volumes,
        supply_prices=supply_prices,
        x_sol=np.array(x.value[:-4*m]),
        gen_names=gen_df.loc[:, 'gen_name'].to_numpy()
    )
    #gen_bids = np.reshape(np.array(x.value[:-4*m]), (2, n*m))
    return gen_bids

In [34]:
supply_prices = np.array([0, 10, 20, 40])
supply_volumes = np.array([1000, 1, 50, 100])
gen_df = pd.DataFrame({
    'gen_name': np.array(['gen_1', 'gen_2']),
    'p_ats': np.array([100, 130]),
    'p_min': np.array([50, 28]),
    'p_max': np.array([200, 151]),
    'gen_price': np.array([25, 35])
})
gen_matrix = gen_df.to_numpy()[:, 1:]
A_eq, b_eq = construct_equalities(supply_volumes=supply_volumes, supply_prices=supply_prices, gen_matrix=gen_matrix)
A_ineq, b_ineq = construct_inequalities(supply_volumes=supply_volumes, supply_prices=supply_prices, gen_matrix=gen_matrix)
#A_eq[:,:-8]

gen_bids = decompose_supply_curve(
    supply_volumes=supply_volumes,
    supply_prices=supply_prices,
    gen_df=gen_df
)
gen_bids

===============================================================================
                                     CVXPY
                                    v1.1.15
===============================================================================
(CVXPY) May 06 05:02:22 PM: Your problem has 24 variables, 4 constraints, and 0 parameters.
(CVXPY) May 06 05:02:22 PM: It is compliant with the following grammars: DCP, DQCP
(CVXPY) May 06 05:02:22 PM: (If you need to solve this problem multiple times, but with different data, consider using parameters.)
(CVXPY) May 06 05:02:22 PM: CVXPY will first compile your problem; then, it will invoke a numerical solver to obtain a solution.
-------------------------------------------------------------------------------
                                  Compilation
-------------------------------------------------------------------------------
(CVXPY) May 06 05:02:22 PM: Compiling problem (target solver=GUROBI).
(CVXPY) May 06 05:02:22 PM: Reduction chain: FlipObjective -> CvxAttr2Constr -> Qp2SymbolicQp -> QpMatrixStuffing -> GUROBI
(CVXPY) May 06 05:02:22 PM: Applying reduction FlipObjective
(CVXPY) May 06 05:02:22 PM: Applying reduction CvxAttr2Constr
(CVXPY) May 06 05:02:22 PM: Applying reduction Qp2SymbolicQp
(CVXPY) May 06 05:02:22 PM: Applying reduction QpMatrixStuffing
(CVXPY) May 06 05:02:22 PM: Applying reduction GUROBI
(CVXPY) May 06 05:02:22 PM: Finished problem compilation (took 1.060e-02 seconds).
-------------------------------------------------------------------------------
                                Numerical solver
-------------------------------------------------------------------------------
(CVXPY) May 06 05:02:22 PM: Invoking solver GUROBI  to obtain a solution.
Parameter OutputFlag unchanged
   Value: 1  Min: 0  Max: 1  Default: 1
Changed value of parameter QCPDual to 1
   Prev: 0  Min: 0  Max: 1  Default: 0
Changed value of parameter mipgap to 0.001
   Prev: 0.0001  Min: 0.0  Max: inf  Default: 0.0001
Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (linux64)
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 82 rows, 24 columns and 128 nonzeros
Model fingerprint: 0x4b6edc90
Variable types: 16 continuous, 8 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+03]
  Objective range  [1e+00, 1e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e+00, 1e+02]
Presolve removed 53 rows and 3 columns
Presolve time: 0.00s
Presolved: 29 rows, 21 columns, 74 nonzeros
Variable types: 13 continuous, 8 integer (8 binary)

Root relaxation: objective -6.101000e+00, 7 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0   -6.10100    0    2          -   -6.10100      -     -    0s
H    0     0                      -5.5391961   -6.10100  10.1%     -    0s
*    0     0               0      -6.1010000   -6.10100  0.00%     -    0s

Cutting planes:
  Gomory: 1
  Cover: 1
  Implied bound: 1
  MIR: 1
  Flow cover: 3

Explored 1 nodes (12 simplex iterations) in 0.01 seconds
Thread count was 8 (of 8 available processors)

Solution count 2: -6.101 -5.5392
No other solutions better than -6.101

Optimal solution found (tolerance 1.00e-03)
Best objective -6.101000000000e+00, best bound -6.101000000000e+00, gap 0.0000%
-------------------------------------------------------------------------------
                                    Summary
-------------------------------------------------------------------------------
(CVXPY) May 06 05:02:22 PM: Problem status: optimal
(CVXPY) May 06 05:02:22 PM: Optimal value: 6.101e+00
(CVXPY) May 06 05:02:22 PM: Compilation took 1.060e-02 seconds
(CVXPY) May 06 05:02:22 PM: Solver (including time spent in interface) took 1.784e-02 seconds

  gen_name  vol_1  vol_2  vol_3  price_1  price_2  price_3
0    gen_1  100.0   50.0    0.0     40.0     20.0     -0.0
1    gen_2  101.0    1.0    0.0      0.0     10.0      0.0

In [35]:
from datetime import datetime, date, timedelta
from sqlalchemy import create_engine
from typing import Tuple

import numpy as np
import pandas as pd

def get_supply_curve(
        base_datetime: datetime,
        cz_id: int
) -> Tuple[np.ndarray, np.ndarray]:
    connection_string = "mssql+pyodbc://model1:model1@192.168.1.10/SKMRUSMSSQL?driver=ODBC+Driver+17+for+SQL+Server"
    sql_engine = create_engine(connection_string)
    query_supply = f"""
        select volume, price
        from exergydb.dbo.src_ats_curve_supply
        where datetime = '{base_datetime}' and cz_id = {cz_id}
    """
    supply_curve = pd.read_sql(sql=query_supply, con=sql_engine)
    supply_prices = supply_curve.loc[:, 'price'].to_numpy()
    supply_volumes = supply_curve.loc[:, 'volume'].to_numpy()
    return supply_prices, supply_volumes

def get_gen_data(
        base_datetime: datetime,
        cz_id: int
) -> pd.DataFrame:
    connection_string = "mssql+pyodbc://model1:model1@192.168.1.10/SKMRUSMSSQL?driver=ODBC+Driver+17+for+SQL+Server"
    sql_engine = create_engine(connection_string)
    base_date = base_datetime.date()
    base_hour = base_datetime.hour
    query_rge = f"""
        select d.gtp_code as gen_name, a.rge, a.p_ats, a.pmin as p_min, a.pmax as p_max, a.node_price_ats
        from model_rge a
        inner join (
            select b.gtp_code, b.station_code, b.rge, b.date, b.version, b.day_ahead_type from dict_gtprge_gen b
            inner join dict_registry_gen c on b.station_code = c.station_code
            where c.station_type in (1, 3, 4) and c.date = '{base_date}' and c.version = 0
            and b.date = '{base_date}' and b.version = 0 and b.day_ahead_type = 0
        ) d
        on a.rge = d.rge
        inner join dict_node_geo e on a.node = e.node
        where a.date = '{base_date}' and a.hour = {base_hour} and a.version = 0
        and e.date = '{base_date}' and e.version = 0 and e.cz_id = {cz_id}
    """
    rge_df = pd.read_sql(sql=query_rge, con=sql_engine)
    rge_df['p_price'] = rge_df.apply(lambda x: x['p_ats'] * x['node_price_ats'], axis=1)
    gen_df = rge_df.groupby(by='gen_name').sum().reset_index()
    gen_df = gen_df.loc[gen_df['p_ats'] >= 0.1, :]
    gen_df['gen_price'] = gen_df.apply(lambda x: x['p_price'] / x['p_ats'], axis=1)
    gen_df = gen_df.drop(columns=['rge', 'node_price_ats', 'p_price']).reset_index(drop=True)

    gen_df['p_ats'] = np.around(gen_df['p_ats'], decimals=3)
    gen_df['gen_price'] = np.around(gen_df['gen_price'], decimals=2)
    return gen_df

In [36]:
base_datetime = datetime(year=2022, month=4, day=29, hour=0)
cz_id = 2
supply_prices, supply_volumes = get_supply_curve(base_datetime=base_datetime, cz_id=cz_id)
gen_df = get_gen_data(
    base_datetime=base_datetime,
    cz_id=cz_id
)
gen_df

    gen_name    p_ats    p_min    p_max  gen_price
0   GALTEN11   40.000   40.000   65.000    1038.79
1   GALTEN14   40.000   40.000   50.000    1038.79
2   GALTENE2  175.001  175.000  255.000    1039.95
3   GALTKOKS  106.000   95.000  140.000    1020.77
4   GBEREZG2  760.000  540.000  760.000    1004.18
5   GBIENERG  220.000  220.000  339.800    1034.11
6   GBURYAT2   15.000   15.000   26.400     933.43
7   GBURYAT3   88.000   88.000   98.370     933.43
8   GBURYATE    3.600    3.600   12.000     933.43
9   GCHITEN1  181.000  180.000  268.000     921.67
10  GGG10537   85.000   85.000  100.000    1014.63
11  GGUSINO2  390.000  390.000  610.000     919.80
12  GHAKASEN  180.001  180.000  210.000    1040.51
13  GHARANG1  160.000  160.000  215.000     846.24
14  GHARANG2  140.000  140.000  215.000     856.43
15  GHARANG3  161.736  125.000  235.000     856.00
16  GIRKEN07   56.100   55.000   70.000     883.48
17  GIRKEN08  170.000  150.000  230.000     928.55
18  GIRKEN10  535.000  535.000  710.000     906.92
19  GIRKEN11   90.000   90.000  129.300     925.13
20  GIRKEN12  252.000  250.000  285.000     919.44
21  GIRKEN13  130.187   80.000  180.000    1020.00
22  GIRKEN14  116.000  107.000  170.000     808.07
23  GIRKEN25   19.100   18.000   20.000     919.44
24  GKRASGR1  164.000  106.200  164.000     935.16
25  GKRASGR2  136.000  110.000  136.000     932.37
26  GKRASNE1   91.700   91.700  144.920     975.94
27  GKRASNE2  221.611  195.500  221.611     977.97
28  GKRASNE4  174.900  160.000  174.900     942.75
29  GKRASNE5  220.000  200.000  220.000     938.25
30  GKRASNE6   89.900   59.000   89.900    1043.21
31  GKUZEN01  110.000  110.000  126.000    1083.70
32  GKUZEN02  114.001  114.000  158.500    1061.14
33  GKUZEN04  109.000  109.000  170.000    1060.18
34  GKUZEN05  160.000  160.000  200.000    1064.49
35  GKUZEN06  280.000  280.000  400.000    1066.87
36  GKUZEN07  200.000  140.000  200.000    1043.74
37  GKUZEN08  180.000  140.000  180.000    1048.34
38  GKUZEN09   13.800   13.800   23.000    1064.50
39  GKUZEN10   60.000   52.000   60.000    1076.49
40  GKUZEN23  151.000  150.000  151.000    1044.99
41  GNOVOS02  100.000  100.000  140.000    1007.03
42  GNOVOS03  125.000   90.000  125.000    1007.07
43  GNOVOS04  160.001  160.000  185.000    1008.56
44  GNOVOS05  160.000  160.000  210.000    1010.12
45  GNOVOS06  270.001  270.000  350.000    1010.11
46  GNOVOS07  270.001  270.000  370.000    1003.26
47  GNOVOS08   18.000   18.000   25.000    1022.52
48  GOMSKE11   60.000   60.000  120.000    1014.53
49  GOMSKE12   52.000   52.000   60.000    1014.53
50  GOMSKE16   35.000   22.389   42.350    1014.53
51  GOMSKE18  260.000  260.000  275.000     994.67
52  GOMSKEN2   38.000   38.000   50.000    1014.63
53  GPRIURGO  170.000  160.000  205.000     785.57
54  GSIBXI12   44.000   44.000   88.784    1015.46
55  GSIBXIM2   48.000   48.000   50.000    1015.46
56  GSIBXIM4   60.000   60.000  100.000    1015.46
57  GTOMSKE1  155.000  155.000  183.000    1026.80
58  GTOMSKE2  128.000  128.000  140.000    1024.96

In [37]:
gen_bids = decompose_supply_curve(
    supply_volumes=supply_volumes,
    supply_prices=supply_prices,
    gen_df=gen_df
)
gen_bids

===============================================================================
                                     CVXPY
                                    v1.1.15
===============================================================================
(CVXPY) May 06 05:02:23 PM: Your problem has 8968 variables, 4 constraints, and 0 parameters.
(CVXPY) May 06 05:02:23 PM: It is compliant with the following grammars: DCP, DQCP
(CVXPY) May 06 05:02:23 PM: (If you need to solve this problem multiple times, but with different data, consider using parameters.)
(CVXPY) May 06 05:02:23 PM: CVXPY will first compile your problem; then, it will invoke a numerical solver to obtain a solution.
-------------------------------------------------------------------------------
                                  Compilation
-------------------------------------------------------------------------------
(CVXPY) May 06 05:02:23 PM: Compiling problem (target solver=GUROBI).
(CVXPY) May 06 05:02:23 PM: Reduction chain: FlipObjective -> CvxAttr2Constr -> Qp2SymbolicQp -> QpMatrixStuffing -> GUROBI
(CVXPY) May 06 05:02:23 PM: Applying reduction FlipObjective
(CVXPY) May 06 05:02:23 PM: Applying reduction CvxAttr2Constr
(CVXPY) May 06 05:02:23 PM: Applying reduction Qp2SymbolicQp
(CVXPY) May 06 05:02:23 PM: Applying reduction QpMatrixStuffing
(CVXPY) May 06 05:02:23 PM: Applying reduction GUROBI
(CVXPY) May 06 05:02:23 PM: Finished problem compilation (took 5.652e-01 seconds).
-------------------------------------------------------------------------------
                                Numerical solver
-------------------------------------------------------------------------------
(CVXPY) May 06 05:02:23 PM: Invoking solver GUROBI  to obtain a solution.
Parameter OutputFlag unchanged
   Value: 1  Min: 0  Max: 1  Default: 1
Changed value of parameter QCPDual to 1
   Prev: 0  Min: 0  Max: 1  Default: 0
Changed value of parameter mipgap to 0.001
   Prev: 0.0001  Min: 0.0  Max: inf  Default: 0.0001
Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (linux64)
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 27111 rows, 8968 columns and 57232 nonzeros
Model fingerprint: 0x3c5123a3
Variable types: 4602 continuous, 4366 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e-03, 2e+04]
  Objective range  [1e+00, 1e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e-03, 2e+02]
Presolve removed 21157 rows and 3207 columns
Presolve time: 0.03s
Presolved: 5954 rows, 5761 columns, 25248 nonzeros
Variable types: 2953 continuous, 2808 integer (2808 binary)

Root relaxation: objective -2.317022e+02, 2829 iterations, 0.13 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 -231.70220    0  129          - -231.70220      -     -    0s
H    0     0                    -209.7595708 -231.70220  10.5%     -    0s
H    0     0                    -211.6288332 -231.70220  9.49%     -    0s
H    0     0                    -212.7133783 -231.70220  8.93%     -    0s
H    0     0                    -215.3909622 -231.70220  7.57%     -    0s
H    0     0                    -215.4795623 -231.70220  7.53%     -    0s
H    0     0                    -216.1961846 -231.70220  7.17%     -    0s
H    0     0                    -216.1975556 -231.70220  7.17%     -    0s
     0     0 -226.38713    0  136 -216.19756 -226.38713  4.71%     -    0s
H    0     0                    -216.8547611 -226.38713  4.40%     -    0s
H    0     0                    -217.5553403 -226.38713  4.06%     -    0s
H    0     0                    -221.9155008 -226.38713  2.02%     -    0s
     0     0 -226.37855    0  136 -221.91550 -226.37855  2.01%     -    0s
     0     0 -225.36264    0  149 -221.91550 -225.36264  1.55%     -    1s
     0     0 -225.36186    0  131 -221.91550 -225.36186  1.55%     -    1s
     0     0 -225.33219    0  134 -221.91550 -225.33219  1.54%     -    1s
     0     0 -225.33219    0  136 -221.91550 -225.33219  1.54%     -    1s
     0     0 -225.33060    0  153 -221.91550 -225.33060  1.54%     -    1s
     0     0 -225.30990    0  141 -221.91550 -225.30990  1.53%     -    1s
     0     0 -225.30990    0  150 -221.91550 -225.30990  1.53%     -    2s
     0     0 -225.29303    0  138 -221.91550 -225.29303  1.52%     -    2s
     0     0 -225.29232    0  133 -221.91550 -225.29232  1.52%     -    2s
     0     0 -225.27222    0  135 -221.91550 -225.27222  1.51%     -    2s
     0     0 -225.27222    0  135 -221.91550 -225.27222  1.51%     -    2s
H    0     0                    -222.0787037 -225.27222  1.44%     -    2s
H    0     0                    -223.3854087 -225.27222  0.84%     -    3s
H    0     2                    -223.4245363 -225.27222  0.83%     -    3s
     0     2 -225.27222    0  135 -223.42454 -225.27222  0.83%     -    3s
H   31    40                    -223.7681540 -225.27207  0.67%   719    6s
H   32    40                    -224.1110115 -225.27207  0.52%   698    6s
H   36    40                    -224.3317650 -225.27207  0.42%   693    6s
H  105   190                    -224.4278960 -225.27207  0.38%   435    7s
H  143   190                    -224.4475390 -225.27207  0.37%   372    7s
H  199   312                    -224.5443888 -225.27207  0.32%   320    9s
H  220   312                    -224.6788390 -225.27207  0.26%   310    9s
   336   511 -225.26346   22  118 -224.67884 -225.27207  0.26%   246   10s
  1357  1418 -225.26989   18  139 -224.67884 -225.27207  0.26%   193   15s
H 1888  1348                    -224.6788467 -225.27207  0.26%   177   17s
H 1890  1283                    -224.6788467 -225.27207  0.26%   177   17s
H 1891  1219                    -224.6788640 -225.27207  0.26%   177   18s
H 1896  1161                    -224.6789844 -225.26592  0.26%   176   20s
H 1899  1105                    -224.7563212 -225.26517  0.23%   176   21s
H 1904  1052                    -224.7564289 -225.26452  0.23%   175   23s
H 1910  1003                    -224.7564462 -225.26154  0.22%   175   25s
H 1915   955                    -224.7863396 -225.26057  0.21%   174   26s
H 1918   909                    -224.8227334 -225.26053  0.19%   174   27s
H 1920   865                    -224.8375039 -225.26053  0.19%   174   27s
  1930   871 -225.25357   18  131 -224.83750 -225.25357  0.19%   173   30s
H 1931   827                    -224.8375243 -225.25299  0.18%   173   30s
H 1938   790                    -224.8430009 -225.25195  0.18%   172   32s
H 1940   750                    -224.8584529 -225.25192  0.17%   172   32s
  1951   757 -225.23721   24  155 -224.85845 -225.24730  0.17%   171   35s
H 1954   720                    -224.9384924 -225.24670  0.14%   171   36s
  1965   728 -225.15536   45  162 -224.93849 -225.24172  0.13%   170   40s
H 1984   703                    -224.9537137 -225.24170  0.13%   234   45s
  2003   716 -224.95371   29  159 -224.95371 -225.23966  0.13%   232   50s
H 2009   685                    -224.9538220 -225.23966  0.13%   262   51s
H 2010   651                    -224.9538223 -225.23966  0.13%   261   51s
H 2012   620                    -224.9538427 -225.23966  0.13%   261   52s
H 2012   589                    -224.9538473 -225.23966  0.13%   261   52s
H 2024   567                    -224.9538591 -225.23957  0.13%   260   55s
  2041   578 -225.23505   19  169 -224.95386 -225.23505  0.13%   257   60s
  2063   594 -225.07053   31  168 -224.95386 -225.23397  0.12%   279   65s
H 2078   574                    -224.9538592 -225.23397  0.12%   294   68s
  2088   581 -225.06039   35  162 -224.95386 -225.23397  0.12%   292   70s
H 2094   556                    -224.9675856 -225.23397  0.12%   291   72s
  2106   564 -225.22081   14  173 -224.96759 -225.23308  0.12%   290   75s
H 2108   536                    -224.9675863 -225.23308  0.12%   289   75s
  2127   550 -225.12822   38  183 -224.96759 -225.23253  0.12%   315   80s
  2140   562 -225.23056   73  125 -224.96759 -225.23129  0.12%   333   85s
  2160   570 -225.22925   77  108 -224.96759 -225.22968  0.12%   338   90s
  2431   661 -225.22818   91   86 -224.96759 -225.22957  0.12%   332   95s
  2950   844 -225.00791  114   89 -224.96759 -225.22957  0.12%   331  100s
H 2958   812                    -224.9675871 -225.22957  0.12%   331  100s
  3447   894 -225.03368   83  163 -224.96759 -225.22822  0.12%   338  105s
  4069  1181 -225.00537  118   88 -224.96759 -225.22558  0.11%   347  110s

Cutting planes:
  Gomory: 24
  Cover: 4
  Implied bound: 35
  Projected implied bound: 14
  MIR: 160
  Flow cover: 476
  Relax-and-lift: 34

Explored 4651 nodes (1739583 simplex iterations) in 113.59 seconds
Thread count was 8 (of 8 available processors)

Solution count 10: -224.968 -224.968 -224.968 ... -224.954

Optimal solution found (tolerance 1.00e-03)
Best objective -2.249675871264e+02, best bound -2.251883060706e+02, gap 0.0981%
-------------------------------------------------------------------------------
                                    Summary
-------------------------------------------------------------------------------
(CVXPY) May 06 05:04:17 PM: Problem status: optimal
(CVXPY) May 06 05:04:17 PM: Optimal value: 2.250e+02
(CVXPY) May 06 05:04:17 PM: Compilation took 5.652e-01 seconds
(CVXPY) May 06 05:04:17 PM: Solver (including time spent in interface) took 1.138e+02 seconds

,gen_name,vol_1,vol_2,vol_3,price_1,price_2,price_3
0,GALTEN11,25.000,0.000000e+00,0.000000e+00,7567.0,0.000000,0.0
1,GALTEN14,10.000,0.000000e+00,0.000000e+00,1371.0,-0.000000,0.0
2,GALTENE2,79.999,1.000000e-03,0.000000e+00,1519.0,480.000000,0.0
3,GALTKOKS,34.000,1.100000e+01,0.000000e+00,1721.0,871.000000,-0.0
4,GBEREZG2,219.999,1.000000e-03,0.000000e+00,499.0,690.000000,0.0
5,GBIENERG,119.800,0.000000e+00,0.000000e+00,1440.0,0.000000,0.0
6,GBURYAT2,11.400,0.000000e+00,0.000000e+00,1371.0,-0.000000,0.0
7,GBURYAT3,10.370,0.000000e+00,0.000000e+00,1371.0,-0.000000,0.0
8,GBURYATE,8.400,0.000000e+00,0.000000e+00,7567.0,0.000000,0.0
9,GCHITEN1,87.000,1.000000e+00,0.000000e+00,1029.0,820.000000,0.0
10,GGG10537,15.000,0.000000e+00,0.000000e+00,1263.0,-0.000000,0.0
11,GGUSINO2,160.000,2.253367e-07,0.000000e+00,1214.0,0.000000,0.0
12,GHAKASEN,29.999,1.000000e-03,0.000000e+00,1080.0,587.000000,-0.0
13,GHARANG1,55.000,0.000000e+00,0.000000e+00,917.0,0.000000,0.0
14,GHARANG2,75.000,0.000000e+00,0.000000e+00,915.0,0.000000,0.0
15,GHARANG3,21991.874,1.100000e+02,1.000000e-03,0.0,856.000000,618.0
16,GIRKEN07,13.900,1.100000e+00,1.490227e-16,1371.0,530.000000,0.0
17,GIRKEN08,60.000,2.000000e+01,0.000000e+00,1750.0,879.998673,-0.0
18,GIRKEN10,89.000,8.678400e+01,0.000000e+00,1070.0,2262.000000,0.0
19,GIRKEN11,39.300,0.000000e+00,0.000000e+00,1250.0,-0.000000,0.0
20,GIRKEN12,33.000,2.000000e+00,0.000000e+00,1050.0,880.000000,-0.0
21,GIRKEN13,100.000,1.000000e-03,0.000000e+00,1020.0,403.000000,0.0
22,GIRKEN14,54.000,9.000000e+00,6.106227e-15,964.0,725.000000,-0.0
23,GIRKEN25,0.900,1.000000e-01,0.000000e+00,1051.0,515.000000,0.0
24,GKRASGR1,57.800,0.000000e+00,0.000000e+00,792.0,0.000000,-0.0
25,GKRASGR2,25.999,1.000000e-03,0.000000e+00,829.0,227.000000,0.0
26,GKRASNE1,53.220,0.000000e+00,0.000000e+00,1000.0,0.000000,0.0
27,GKRASNE2,26.111,0.000000e+00,0.000000e+00,871.0,0.000000,-0.0
28,GKRASNE4,14.899,1.000000e-03,0.000000e+00,809.0,448.000000,0.0
29,GKRASNE5,19.999,1.000000e-03,4.774625e-15,793.0,527.000000,0.0
30,GKRASNE6,30.899,1.000000e-03,0.000000e+00,914.0,338.000000,0.0
31,GKUZEN01,16.000,0.000000e+00,0.000000e+00,2420.0,0.000000,0.0
32,GKUZEN02,44.499,1.000000e-03,0.000000e+00,1461.0,439.000000,0.0
33,GKUZEN04,60.000,0.000000e+00,0.000000e+00,1217.0,0.000000,0.0
34,GKUZEN05,40.000,0.000000e+00,0.000000e+00,1075.0,-0.000000,0.0
35,GKUZEN06,120.000,0.000000e+00,0.000000e+00,1173.0,0.000000,0.0
36,GKUZEN07,60.000,0.000000e+00,0.000000e+00,896.0,0.000000,0.0
37,GKUZEN08,40.000,0.000000e+00,0.000000e+00,1040.0,0.000000,-0.0
38,GKUZEN09,9.200,0.000000e+00,0.000000e+00,1370.0,-0.000000,0.0
39,GKUZEN10,8.000,0.000000e+00,0.000000e+00,1063.0,0.000000,-0.0
40,GKUZEN23,1.000,0.000000e+00,0.000000e+00,910.0,0.000000,-0.0
41,GNOVOS02,40.000,0.000000e+00,0.000000e+00,1546.0,-0.000000,0.0
42,GNOVOS03,35.000,0.000000e+00,0.000000e+00,950.0,0.000000,-0.0
43,GNOVOS04,24.999,1.000000e-03,0.000000e+00,1236.0,578.000000,-0.0
44,GNOVOS05,50.000,5.884182e-15,0.000000e+00,1205.0,-0.000000,0.0
45,GNOVOS06,79.999,1.000000e-03,0.000000e+00,1153.0,292.000000,0.0
46,GNOVOS07,99.999,1.000000e-03,4.774847e-15,1137.0,676.000000,0.0
47,GNOVOS08,7.000,0.000000e+00,0.000000e+00,1662.0,-0.000000,0.0
48,GOMSKE11,60.000,0.000000e+00,0.000000e+00,1100.0,0.000000,0.0
49,GOMSKE12,8.000,0.000000e+00,0.000000e+00,1749.0,-0.000000,0.0
50,GOMSKE16,12.611,7.350000e+00,0.000000e+00,400.0,1060.000000,-0.0
51,GOMSKE18,15.000,0.000000e+00,0.000000e+00,1198.0,-0.000000,0.0
52,GOMSKEN2,12.000,0.000000e+00,0.000000e+00,1080.0,-0.000000,0.0
53,GPRIURGO,35.000,1.000000e+01,0.000000e+00,999.0,510.000000,-0.0
54,GSIBXI12,44.784,0.000000e+00,0.000000e+00,1060.0,0.000000,0.0
55,GSIBXIM2,2.000,0.000000e+00,0.000000e+00,1052.0,-0.000000,0.0
56,GSIBXIM4,40.000,0.000000e+00,0.000000e+00,1324.0,-0.000000,0.0
57,GTOMSKE1,27.999,0.000000e+00,0.000000e+00,1052.0,-0.000000,0.0
58,GTOMSKE2,12.000,0.000000e+00,0.000000e+00,1265.0,-0.000000,0.0

In [38]:
model_curve = gen_bids.melt(id_vars=['gen_name', 'vol_1', 'vol_2', 'vol_3'], var_name='price_name', value_name='price')
model_curve

     gen_name    vol_1   vol_2  vol_3 price_name   price
0    GALTEN11   25.000   0.000    0.0    price_1  7567.0
1    GALTEN14   10.000   0.000    0.0    price_1  1371.0
2    GALTENE2   79.999   0.001    0.0    price_1  1519.0
3    GALTKOKS   34.000  11.000    0.0    price_1  1721.0
4    GBEREZG2  219.999   0.001    0.0    price_1   499.0
..        ...      ...     ...    ...        ...     ...
172  GSIBXI12   44.784   0.000    0.0    price_3     0.0
173  GSIBXIM2    2.000   0.000    0.0    price_3     0.0
174  GSIBXIM4   40.000   0.000    0.0    price_3     0.0
175  GTOMSKE1   27.999   0.000    0.0    price_3     0.0
176  GTOMSKE2   12.000   0.000    0.0    price_3     0.0

[177 rows x 6 columns]

In [39]:
def define_volume(x):
    result = 0
    if x['price_name'] == 'price_1':
        result = x['vol_1']
    elif x['price_name'] == 'price_2':
        result = x['vol_2']
    else:
        result = x['vol_3']
    return result

In [40]:
model_curve['volume'] = model_curve.apply(define_volume, axis=1)
model_curve

     gen_name    vol_1   vol_2  vol_3 price_name   price   volume
0    GALTEN11   25.000   0.000    0.0    price_1  7567.0   25.000
1    GALTEN14   10.000   0.000    0.0    price_1  1371.0   10.000
2    GALTENE2   79.999   0.001    0.0    price_1  1519.0   79.999
3    GALTKOKS   34.000  11.000    0.0    price_1  1721.0   34.000
4    GBEREZG2  219.999   0.001    0.0    price_1   499.0  219.999
..        ...      ...     ...    ...        ...     ...      ...
172  GSIBXI12   44.784   0.000    0.0    price_3     0.0    0.000
173  GSIBXIM2    2.000   0.000    0.0    price_3     0.0    0.000
174  GSIBXIM4   40.000   0.000    0.0    price_3     0.0    0.000
175  GTOMSKE1   27.999   0.000    0.0    price_3     0.0    0.000
176  GTOMSKE2   12.000   0.000    0.0    price_3     0.0    0.000

[177 rows x 7 columns]

In [41]:
model_curve = model_curve.loc[:, ['gen_name', 'price', 'volume']].groupby(by=['gen_name', 'price']).sum().reset_index()
model_curve

     gen_name   price  volume
0    GALTEN11     0.0   0.000
1    GALTEN11  7567.0  25.000
2    GALTEN14     0.0   0.000
3    GALTEN14  1371.0  10.000
4    GALTENE2     0.0   0.000
..        ...     ...     ...
136  GSIBXIM4  1324.0  40.000
137  GTOMSKE1     0.0   0.000
138  GTOMSKE1  1052.0  27.999
139  GTOMSKE2     0.0   0.000
140  GTOMSKE2  1265.0  12.000

[141 rows x 3 columns]

In [42]:
model_curve = model_curve.loc[:, ['price', 'volume']].groupby(by='price').sum().reset_index()
model_curve

     price     volume
0      0.0  21991.874
1    227.0      0.001
2    292.0      0.001
3    338.0      0.001
4    400.0     12.611
..     ...        ...
70  1749.0      8.000
71  1750.0     60.000
72  2262.0     86.784
73  2420.0     16.000
74  7567.0     33.400

[75 rows x 2 columns]

In [43]:
real_curve = pd.DataFrame({'price': supply_prices, 'volume': supply_volumes})
real_curve

     price     volume
0      0.0  21991.874
1    227.0      0.001
2    292.0      0.001
3    338.0      0.001
4    400.0     12.611
..     ...        ...
69  1749.0      8.000
70  1750.0     60.000
71  2262.0     86.784
72  2420.0     16.000
73  7567.0     34.000

[74 rows x 2 columns]

In [44]:
diff = pd.merge(left=real_curve, right=model_curve, on='price', how='left', suffixes=('_real', '_model')).fillna(value=0)
diff

     price  volume_real  volume_model
0      0.0    21991.874     21991.874
1    227.0        0.001         0.001
2    292.0        0.001         0.001
3    338.0        0.001         0.001
4    400.0       12.611        12.611
..     ...          ...           ...
69  1749.0        8.000         8.000
70  1750.0       60.000        60.000
71  2262.0       86.784        86.784
72  2420.0       16.000        16.000
73  7567.0       34.000        33.400

[74 rows x 3 columns]

In [45]:
diff['diff'] = diff.apply(lambda x: x['volume_real'] - x['volume_model'], axis=1)
diff

     price  volume_real  volume_model          diff
0      0.0    21991.874     21991.874 -2.253364e-07
1    227.0        0.001         0.001  0.000000e+00
2    292.0        0.001         0.001  0.000000e+00
3    338.0        0.001         0.001  0.000000e+00
4    400.0       12.611        12.611  0.000000e+00
..     ...          ...           ...           ...
69  1749.0        8.000         8.000  0.000000e+00
70  1750.0       60.000        60.000  0.000000e+00
71  2262.0       86.784        86.784  0.000000e+00
72  2420.0       16.000        16.000  0.000000e+00
73  7567.0       34.000        33.400  6.000000e-01

[74 rows x 4 columns]

In [46]:
agg_diff = diff.loc[diff['price'] > 0.0, 'diff'].sum()
agg_diff

70.21499999978658

In [47]:
#gen_bids.to_csv('demo_bids.csv')

In [48]:
#diff.to_csv('bids_diff.csv')

In [49]:
proposal_curve = pd.DataFrame({'price': supply_prices, 'volumes': supply_volumes})

In [50]:
res = gen_df.copy(deep=True)
res

    gen_name    p_ats    p_min    p_max  gen_price
0   GALTEN11   40.000   40.000   65.000    1038.79
1   GALTEN14   40.000   40.000   50.000    1038.79
2   GALTENE2  175.001  175.000  255.000    1039.95
3   GALTKOKS  106.000   95.000  140.000    1020.77
4   GBEREZG2  760.000  540.000  760.000    1004.18
5   GBIENERG  220.000  220.000  339.800    1034.11
6   GBURYAT2   15.000   15.000   26.400     933.43
7   GBURYAT3   88.000   88.000   98.370     933.43
8   GBURYATE    3.600    3.600   12.000     933.43
9   GCHITEN1  181.000  180.000  268.000     921.67
10  GGG10537   85.000   85.000  100.000    1014.63
11  GGUSINO2  390.000  390.000  610.000     919.80
12  GHAKASEN  180.001  180.000  210.000    1040.51
13  GHARANG1  160.000  160.000  215.000     846.24
14  GHARANG2  140.000  140.000  215.000     856.43
15  GHARANG3  161.736  125.000  235.000     856.00
16  GIRKEN07   56.100   55.000   70.000     883.48
17  GIRKEN08  170.000  150.000  230.000     928.55
18  GIRKEN10  535.000  535.000  710.000     906.92
19  GIRKEN11   90.000   90.000  129.300     925.13
20  GIRKEN12  252.000  250.000  285.000     919.44
21  GIRKEN13  130.187   80.000  180.000    1020.00
22  GIRKEN14  116.000  107.000  170.000     808.07
23  GIRKEN25   19.100   18.000   20.000     919.44
24  GKRASGR1  164.000  106.200  164.000     935.16
25  GKRASGR2  136.000  110.000  136.000     932.37
26  GKRASNE1   91.700   91.700  144.920     975.94
27  GKRASNE2  221.611  195.500  221.611     977.97
28  GKRASNE4  174.900  160.000  174.900     942.75
29  GKRASNE5  220.000  200.000  220.000     938.25
30  GKRASNE6   89.900   59.000   89.900    1043.21
31  GKUZEN01  110.000  110.000  126.000    1083.70
32  GKUZEN02  114.001  114.000  158.500    1061.14
33  GKUZEN04  109.000  109.000  170.000    1060.18
34  GKUZEN05  160.000  160.000  200.000    1064.49
35  GKUZEN06  280.000  280.000  400.000    1066.87
36  GKUZEN07  200.000  140.000  200.000    1043.74
37  GKUZEN08  180.000  140.000  180.000    1048.34
38  GKUZEN09   13.800   13.800   23.000    1064.50
39  GKUZEN10   60.000   52.000   60.000    1076.49
40  GKUZEN23  151.000  150.000  151.000    1044.99
41  GNOVOS02  100.000  100.000  140.000    1007.03
42  GNOVOS03  125.000   90.000  125.000    1007.07
43  GNOVOS04  160.001  160.000  185.000    1008.56
44  GNOVOS05  160.000  160.000  210.000    1010.12
45  GNOVOS06  270.001  270.000  350.000    1010.11
46  GNOVOS07  270.001  270.000  370.000    1003.26
47  GNOVOS08   18.000   18.000   25.000    1022.52
48  GOMSKE11   60.000   60.000  120.000    1014.53
49  GOMSKE12   52.000   52.000   60.000    1014.53
50  GOMSKE16   35.000   22.389   42.350    1014.53
51  GOMSKE18  260.000  260.000  275.000     994.67
52  GOMSKEN2   38.000   38.000   50.000    1014.63
53  GPRIURGO  170.000  160.000  205.000     785.57
54  GSIBXI12   44.000   44.000   88.784    1015.46
55  GSIBXIM2   48.000   48.000   50.000    1015.46
56  GSIBXIM4   60.000   60.000  100.000    1015.46
57  GTOMSKE1  155.000  155.000  183.000    1026.80
58  GTOMSKE2  128.000  128.000  140.000    1024.96

In [51]:
res['p_ats'] = np.around(res['p_ats'], decimals=3)
res

    gen_name    p_ats    p_min    p_max  gen_price
0   GALTEN11   40.000   40.000   65.000    1038.79
1   GALTEN14   40.000   40.000   50.000    1038.79
2   GALTENE2  175.001  175.000  255.000    1039.95
3   GALTKOKS  106.000   95.000  140.000    1020.77
4   GBEREZG2  760.000  540.000  760.000    1004.18
5   GBIENERG  220.000  220.000  339.800    1034.11
6   GBURYAT2   15.000   15.000   26.400     933.43
7   GBURYAT3   88.000   88.000   98.370     933.43
8   GBURYATE    3.600    3.600   12.000     933.43
9   GCHITEN1  181.000  180.000  268.000     921.67
10  GGG10537   85.000   85.000  100.000    1014.63
11  GGUSINO2  390.000  390.000  610.000     919.80
12  GHAKASEN  180.001  180.000  210.000    1040.51
13  GHARANG1  160.000  160.000  215.000     846.24
14  GHARANG2  140.000  140.000  215.000     856.43
15  GHARANG3  161.736  125.000  235.000     856.00
16  GIRKEN07   56.100   55.000   70.000     883.48
17  GIRKEN08  170.000  150.000  230.000     928.55
18  GIRKEN10  535.000  535.000  710.000     906.92
19  GIRKEN11   90.000   90.000  129.300     925.13
20  GIRKEN12  252.000  250.000  285.000     919.44
21  GIRKEN13  130.187   80.000  180.000    1020.00
22  GIRKEN14  116.000  107.000  170.000     808.07
23  GIRKEN25   19.100   18.000   20.000     919.44
24  GKRASGR1  164.000  106.200  164.000     935.16
25  GKRASGR2  136.000  110.000  136.000     932.37
26  GKRASNE1   91.700   91.700  144.920     975.94
27  GKRASNE2  221.611  195.500  221.611     977.97
28  GKRASNE4  174.900  160.000  174.900     942.75
29  GKRASNE5  220.000  200.000  220.000     938.25
30  GKRASNE6   89.900   59.000   89.900    1043.21
31  GKUZEN01  110.000  110.000  126.000    1083.70
32  GKUZEN02  114.001  114.000  158.500    1061.14
33  GKUZEN04  109.000  109.000  170.000    1060.18
34  GKUZEN05  160.000  160.000  200.000    1064.49
35  GKUZEN06  280.000  280.000  400.000    1066.87
36  GKUZEN07  200.000  140.000  200.000    1043.74
37  GKUZEN08  180.000  140.000  180.000    1048.34
38  GKUZEN09   13.800   13.800   23.000    1064.50
39  GKUZEN10   60.000   52.000   60.000    1076.49
40  GKUZEN23  151.000  150.000  151.000    1044.99
41  GNOVOS02  100.000  100.000  140.000    1007.03
42  GNOVOS03  125.000   90.000  125.000    1007.07
43  GNOVOS04  160.001  160.000  185.000    1008.56
44  GNOVOS05  160.000  160.000  210.000    1010.12
45  GNOVOS06  270.001  270.000  350.000    1010.11
46  GNOVOS07  270.001  270.000  370.000    1003.26
47  GNOVOS08   18.000   18.000   25.000    1022.52
48  GOMSKE11   60.000   60.000  120.000    1014.53
49  GOMSKE12   52.000   52.000   60.000    1014.53
50  GOMSKE16   35.000   22.389   42.350    1014.53
51  GOMSKE18  260.000  260.000  275.000     994.67
52  GOMSKEN2   38.000   38.000   50.000    1014.63
53  GPRIURGO  170.000  160.000  205.000     785.57
54  GSIBXI12   44.000   44.000   88.784    1015.46
55  GSIBXIM2   48.000   48.000   50.000    1015.46
56  GSIBXIM4   60.000   60.000  100.000    1015.46
57  GTOMSKE1  155.000  155.000  183.000    1026.80
58  GTOMSKE2  128.000  128.000  140.000    1024.96

In [52]:
res['gen_price'] = np.around(res['gen_price'], decimals=2)
res

    gen_name    p_ats    p_min    p_max  gen_price
0   GALTEN11   40.000   40.000   65.000    1038.79
1   GALTEN14   40.000   40.000   50.000    1038.79
2   GALTENE2  175.001  175.000  255.000    1039.95
3   GALTKOKS  106.000   95.000  140.000    1020.77
4   GBEREZG2  760.000  540.000  760.000    1004.18
5   GBIENERG  220.000  220.000  339.800    1034.11
6   GBURYAT2   15.000   15.000   26.400     933.43
7   GBURYAT3   88.000   88.000   98.370     933.43
8   GBURYATE    3.600    3.600   12.000     933.43
9   GCHITEN1  181.000  180.000  268.000     921.67
10  GGG10537   85.000   85.000  100.000    1014.63
11  GGUSINO2  390.000  390.000  610.000     919.80
12  GHAKASEN  180.001  180.000  210.000    1040.51
13  GHARANG1  160.000  160.000  215.000     846.24
14  GHARANG2  140.000  140.000  215.000     856.43
15  GHARANG3  161.736  125.000  235.000     856.00
16  GIRKEN07   56.100   55.000   70.000     883.48
17  GIRKEN08  170.000  150.000  230.000     928.55
18  GIRKEN10  535.000  535.000  710.000     906.92
19  GIRKEN11   90.000   90.000  129.300     925.13
20  GIRKEN12  252.000  250.000  285.000     919.44
21  GIRKEN13  130.187   80.000  180.000    1020.00
22  GIRKEN14  116.000  107.000  170.000     808.07
23  GIRKEN25   19.100   18.000   20.000     919.44
24  GKRASGR1  164.000  106.200  164.000     935.16
25  GKRASGR2  136.000  110.000  136.000     932.37
26  GKRASNE1   91.700   91.700  144.920     975.94
27  GKRASNE2  221.611  195.500  221.611     977.97
28  GKRASNE4  174.900  160.000  174.900     942.75
29  GKRASNE5  220.000  200.000  220.000     938.25
30  GKRASNE6   89.900   59.000   89.900    1043.21
31  GKUZEN01  110.000  110.000  126.000    1083.70
32  GKUZEN02  114.001  114.000  158.500    1061.14
33  GKUZEN04  109.000  109.000  170.000    1060.18
34  GKUZEN05  160.000  160.000  200.000    1064.49
35  GKUZEN06  280.000  280.000  400.000    1066.87
36  GKUZEN07  200.000  140.000  200.000    1043.74
37  GKUZEN08  180.000  140.000  180.000    1048.34
38  GKUZEN09   13.800   13.800   23.000    1064.50
39  GKUZEN10   60.000   52.000   60.000    1076.49
40  GKUZEN23  151.000  150.000  151.000    1044.99
41  GNOVOS02  100.000  100.000  140.000    1007.03
42  GNOVOS03  125.000   90.000  125.000    1007.07
43  GNOVOS04  160.001  160.000  185.000    1008.56
44  GNOVOS05  160.000  160.000  210.000    1010.12
45  GNOVOS06  270.001  270.000  350.000    1010.11
46  GNOVOS07  270.001  270.000  370.000    1003.26
47  GNOVOS08   18.000   18.000   25.000    1022.52
48  GOMSKE11   60.000   60.000  120.000    1014.53
49  GOMSKE12   52.000   52.000   60.000    1014.53
50  GOMSKE16   35.000   22.389   42.350    1014.53
51  GOMSKE18  260.000  260.000  275.000     994.67
52  GOMSKEN2   38.000   38.000   50.000    1014.63
53  GPRIURGO  170.000  160.000  205.000     785.57
54  GSIBXI12   44.000   44.000   88.784    1015.46
55  GSIBXIM2   48.000   48.000   50.000    1015.46
56  GSIBXIM4   60.000   60.000  100.000    1015.46
57  GTOMSKE1  155.000  155.000  183.000    1026.80
58  GTOMSKE2  128.000  128.000  140.000    1024.96

In [53]:
gen_matrix

array([[100, 50, 200, 25],
       [130, 28, 151, 35]], dtype=object)

In [54]:
supply_prices

array([   0.,  227.,  292.,  338.,  400.,  403.,  439.,  448.,  480.,
        499.,  510.,  515.,  527.,  530.,  578.,  587.,  618.,  676.,
        690.,  725.,  792.,  793.,  809.,  820.,  829.,  856.,  871.,
        880.,  896.,  910.,  914.,  915.,  917.,  950.,  964.,  999.,
       1000., 1020., 1029., 1040., 1050., 1051., 1052., 1060., 1063.,
       1070., 1075., 1080., 1100., 1137., 1153., 1173., 1198., 1205.,
       1214., 1217., 1236., 1250., 1263., 1265., 1324., 1370., 1371.,
       1440., 1461., 1519., 1546., 1662., 1721., 1749., 1750., 2262.,
       2420., 7567.])

In [55]:
gen_prices = gen_df.loc[:, 'gen_price'].to_numpy()
gen_prices

array([1038.79, 1038.79, 1039.95, 1020.77, 1004.18, 1034.11,  933.43,
        933.43,  933.43,  921.67, 1014.63,  919.8 , 1040.51,  846.24,
        856.43,  856.  ,  883.48,  928.55,  906.92,  925.13,  919.44,
       1020.  ,  808.07,  919.44,  935.16,  932.37,  975.94,  977.97,
        942.75,  938.25, 1043.21, 1083.7 , 1061.14, 1060.18, 1064.49,
       1066.87, 1043.74, 1048.34, 1064.5 , 1076.49, 1044.99, 1007.03,
       1007.07, 1008.56, 1010.12, 1010.11, 1003.26, 1022.52, 1014.53,
       1014.53, 1014.53,  994.67, 1014.63,  785.57, 1015.46, 1015.46,
       1015.46, 1026.8 , 1024.96])

In [56]:
marginal_gens = np.zeros(gen_prices.shape[0])
marginal_gens

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [57]:
indices = supply_prices[np.abs(supply_prices - gen_prices[21]) <= 0.01]
indices

array([1020.])

In [58]:
ind = np.abs(supply_prices - gen_prices[21]) <= 0.01
ind

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [59]:
for gen_index in range(gen_prices.shape[0]):
    if supply_prices[np.abs(supply_prices - gen_prices[gen_index]) <= 0.01].size:
        marginal_gens[gen_index] = 1
marginal_gens

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [60]:
proposal_curve.to_csv('proposal_curve.csv')
gen_df.to_csv('gen_df.csv')